<!doctype html>
<html>
  <head>
    <title>
      Captain Haddock Insult Generator
      <% @insults.each do |insult| %>
        <%= insult  + " " %>
      <% end %>
    </title>
    <style>
      #wrapper{
        margin: 0 auto; 
        width: 900px;
       }
       .left{ 
         float: left; 
       }
       .image { width: 40%; }
       .image img{ width: 100%;}  
    </style>
  </head>
  <body>
    <div id="wrapper">
      <div class="left image">
        <img src="/captain-haddock.gif" >
      </div>
      <div class="left quotes">
        <% @insults.each do |insult| %>
          <h1 style="font-family:sans-serif;"><%= insult %></h1>
        <% end %>
      </div>
    </div>
  </body>
</html>
